.myblack {
	background-color: black;
}

body {
	background: #343a40;
}

.myfontstyle1 {
	font-size: 22px;
}

/* div {
	border: 1px solid red; 
} */


.myfontstyle_main {
	font-size: 38px;
}

.myfontstyle_footer {
	font-size: 30px;
}


.movie_title, .movie_description {
	color: white;
}

.movie_title {
	margin-bottom: 15px;
	font-size: 22px;
}

.movie_cover {
	float: left;
	margin-right: 15px;
	margin-bottom: 70px;

}

#movie-content {
	margin: 15px;
}

.outershell {
	margin: 0.9vw;
	padding: 15px;
	overflow : hidden;
	background: black; 
	border-radius: 15px;
	z-index: -2;
	min-height: 95%;

}

.likebutton {
	color: green;
	text-align: left;
	font-size: 30px;
	clear: top;
	position: absolute;
	right: 100px;
	bottom: 40px;
	z-index : 1;
	cursor: pointer;
	width: 120px;
}


.destext {
	min-height: 150px;
}

.sortbutton {
	cursor: pointer;
}

.circleback {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: green;
	position: absolute;
	right: 40px;
	bottom: 40px;
	z-index: 1;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 25px;
}

.jumbotron {
  background-image: url("../img/cover.jpg");
  background-size: 100% auto;
}

.jumbotron hr {
	display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid white;
    margin: 1em 0;
    padding: 0; 
}

.myshadow {
	text-shadow: 2px 2px 4px #000000;
}

